# Chapter_2_Group_Exercise_1_Data_Preprocessing_on_a_Real_Dataset

Group Members:

1. Arya Shinde – Matriculation Number: 100006646
2. Mirang Bhandari – Matriculation Number: ______
3. Yash Annapure – Matriculation Number: ______
4. Anushka Sawant – Matriculation Number: 100006644

# Data Preprocessing on a Real Dataset
Objective
In this group exercise, we will apply data preprocessing techniques learned in Chapter 2 to a real-world dataset . The goal is to understand how raw data is prepared before applying machine learning models

## Dataset Requirements

Each group must select **one real dataset** from one of the following sources:

- Kaggle  
- UCI Machine Learning Repository  
- Open government data portals  

### The dataset must:
- Contain **numerical and/or categorical** features  
- Include **missing values and/or potential outliers**  
- Have **at least 100 records**  

### Each group must provide:
- **Dataset name**  
- **Source link**  
- **Short description** (2–3 lines)

# Step 1: Source a Dataset
For the below problem we have decided to move forward with "New York City Airbnb Open Data" from Kaggle.
This dataset contains Airbnb listing activity and related metrics for New York City in 2019, including host information, location details, and availability. It enables analysis of hosting patterns, geographic trends, and pricing behavior. additionally it has a ton of missing categorical and numerical values allowing us to perform substantial data pre-processing.

In [19]:
import pandas as pd

nyc_data = pd.read_csv("../Dataset/AB_NYC_2019.csv")
nyc_data.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

# Step 1.1: Check Missing Values and sum them up

In [20]:
nyc_data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# Step 1.2: Handle Missing Values Based on the data type and dataset relevance
The current dataset, as per the above code, has **16 `names`** and **21 `host_names`** missing, which is approximately **0.03%** of the dataset compared to the ~49,000 records we have. Hence, we can effectively drop these rows and still have a substantial amount of data, as these are just **identifiers**.

As for the `last_review` and `reviews_per_month` missing data, you can see that the rows which have no reviews have **`NaN`** values in **`last_review`** and `reviews_per_month`, which makes sense, if there are no reviews, there are no dates and thereby no reviews per month.
So we will be replacing `reviews_per_month` with 0 while keeping last_review as it is for correctness.

In [21]:
nyc_data = nyc_data.dropna(subset=['name', 'host_name'])
nyc_data.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                 10037
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [22]:
nyc_data['reviews_per_month'] = nyc_data['reviews_per_month'].fillna(0)
nyc_data.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# Step 2: Scaling Numerical Features
 - Apply Z-score standardization
 - Apply Min–Max normalization
 - Briefly explain the difference

In [23]:
num_cols = [
    "latitude",
    "longitude",
    "price",
    "minimum_nights",
    "number_of_reviews",
    "reviews_per_month",
    "calculated_host_listings_count",
    "availability_365"
]

## Step 2.1 Apply Z-score standardization

In [28]:
from sklearn.preprocessing import StandardScaler

scaler_z = StandardScaler()
df_zscaled = nyc_data.copy()
df_zscaled[num_cols] = scaler_z.fit_transform(nyc_data[num_cols])
df_zscaled.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,-1.493773,-0.437612,Private room,-0.015570,-0.300329,-0.320388,2018-10-19,-0.551649,-0.034837,1.916263
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,0.452597,-0.684585,Entire home/apt,0.300794,-0.300329,0.487703,2019-05-21,-0.445217,-0.156180,1.840280
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,1.468605,0.222498,Private room,-0.011407,-0.200426,-0.522411,NaN,-0.683125,-0.186516,1.916263
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,-0.803291,-0.164426,Entire home/apt,-0.265330,-0.300329,5.538271,2019-07-05,2.221862,-0.186516,0.616965
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,1.275857,0.177220,Entire home/apt,-0.302795,0.149232,-0.320388,2018-11-19,-0.620518,-0.186516,-0.857091

## Step 2.2 Apply Min–Max normalization

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler_mm = MinMaxScaler()
df_minmax = nyc_data.copy()
df_minmax[num_cols] = scaler_mm.fit_transform(nyc_data[num_cols])
df_minmax.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,0.357393,0.511921,Private room,0.0149,0.000000,0.014308,2018-10-19,0.003590,0.015337,1.000000
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,0.614199,0.490469,Entire home/apt,0.0225,0.000000,0.071542,2019-05-21,0.006496,0.003067,0.972603
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,0.748252,0.569257,Private room,0.0150,0.001601,0.000000,NaN,0.000000,0.000000,1.000000
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,0.448496,0.535649,Entire home/apt,0.0089,0.000000,0.429253,2019-07-05,0.079316,0.000000,0.531507
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,0.722820,0.565324,Entire home/apt,0.0080,0.007206,0.014308,2018-11-19,0.001709,0.000000,0.000000

## Step 2.3 Key Difference
### Z-score Standardization

- Centers data around mean = 0
- Scales based on standard deviation

### Min–Max Normalization

- Scales data to a fixed range [0, 1]
- Keeps original distribution shape

#### Z-score standardization rescales features to have zero mean and unit variance, while Min–Max normalization rescales features to a fixed range (usually 0–1).